* {
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body {
    display : flex;
    flex-direction: column;
    align-items : center;
    height : 100vh;
    font-size : 50px;
    justify-content: center;
    font-family: Arial, sans-serif;
}

#counter-value{
    font-size:60px;
    margin : 20px;
}

button {
    padding : 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor:pointer;
    border: none;
    border-radius : 5px;
}

#decrease{
    background-color: red;
    color : white
}

#reset{
    background-color: gray;
    color: white;
}

#increase {
    background-color: green;
    color : white;
}

button:hover{
    opacity: 0.8;
}
